<%- include("include/header") -%>

<div class="container w-50">
    <div class="form-floating mb-3">
        <h1>익스프레스 메인페이지 입니다.</h1>
    </div>
    <h3>메소드를 get으로 보내기</h3>
    <form action="result" method="get">
        <div class="form-floating mb-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="val1">
                <label for="floatingInput">값 1 :</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="val2">
                <label for="floatingPassword">값 2 :</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary">전송하기</button>
            </div>
    </form>
    <h3>메소드를 post로 보내기</h3>
    <form action="result" method="post">
        <div class="form-floating mb-3">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="val1">
                <label for="floatingInput">값 1 :</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="val2">
                <label for="floatingPassword">값 2 :</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary">전송하기</button>
            </div>
    </form>
</div>

<%- include("include/footer") -%>