<%- include("include/header") -%>

<div class="container w-50">
    <h1>val1 : <%=val1%></h1>
    <h1>val2 : <%=val2%></h1>
    <div class="d-grid gap-2">
        <a href="/" class="btn btn-primary">돌아가기</a>
    </div>
</div>

<%- include("include/footer") -%>